scikit-learn==1.6.1 
pandas==2.2.3
numpy==1.26.4
tqdm==4.67.1
opencv-contrib-python-headless==4.11.0.86
matplotlib==3.10.0
jupyter==1.1.1
ipython==8.32.0
ipykernel==6.29.5
Levenshtein==0.26.1
pytesseract==0.3.13
scipy==1.15.2
nltk==3.9.1
openpyxl==3.1.5
